body{
    background: #27ae60;
    text-align: center;
}
button:hover{
    background: red;
}

.ventana{
    background: #95a5a6; /*Color de fondo*/
    text-align: center;
    border: 5px solid grey;/*borde tamaño, tipo y el color*/
    box-shadow: 5px 5px 5px #34495e ; 
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.tamaño{
    padding: 10px;
    text-align: center;
}